.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.box:hover::before {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;

  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
  z-index: 5;
  border-radius: 15px;
}

.box:hover::after {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;

  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
  z-index: 5;
  border-radius: 20px;
  filter: blur(40px);
}

.content {
  border-radius: 15px;
  /* position: absolute; */
  height: 298px;
  width: 298px;
  background-color: #191c2b;
  
  z-index: 6;
}


/*NOTE: imp stuff */
/* Custom property for the rotation angle */
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

/* Keyframes for the rotating animation */
@keyframes rotating {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}








/* /-----------------------for second layer of card that come after hover */

.circle {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}



.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}