.blueshadow{
    filter: drop-shadow(20px 30px 150px #4444dd);
    /* filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0)); */
}

.maindiv {
    transition: all 1s linear;
    margin-right: 0px;
    perspective: 1100px;
    background-color: #2b272c;
}

/* open menu */
.open_page_hold_div {
    transform: rotateY(30deg) translateX(140px) translateZ(-900px);
    transition: transform 0.5s linear;
}


.blueborder {
    /* border stuff */
    box-sizing: content-box;
    border: 20px solid transparent;
    border-color: blue;
    box-shadow: 0px 0 100px 0 rgba(130, 75, 186, 0.5);
}

/* close menu animation */
.close_page_hold_div {
    box-shadow: 0 40px 80px rgba(255, 255, 255, 0.1);
    transform: rotateY(0deg) translateY(0px) translateZ(0px);
    transition: transform 0.5s linear;
    

}

@media only screen and (max-width: 568px) {
    .maindiv {
        perspective: 1000px;
    }

    .blueborder {
        /* border stuff */
        box-sizing: content-box;
        border: 15px solid transparent;
        border-color: blue;
        box-shadow: 0px 0 100px 0 rgba(130, 75, 186, 0.5);
    }

    .open_page_hold_div {
        width: 100%;
        transform: rotateY(20deg) translateZ(-1000px) translateX(200px);
        transition: transform 0.5s ease-in-out;
    }
}